<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Maintenance Order Request</h4>
                  </div>
  
                  <form [formGroup]="formMaintenanceOrder" (ngSubmit)="submit()">
                    <p>Please fill in the form to request maintenance</p>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" />
                      <!-- <label class="form-label" for="name">Name</label> -->
                      <div *ngIf="f['name'].touched && f['name'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['name'].errors?.['required']">*Name is required.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" />
                      <!-- <label class="form-label" for="email">Email</label> -->
                      <div *ngIf="f['email'].touched && f['email'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['email'].errors?.['required']">*Email is required.</div>
                        <div *ngIf="f['email'].errors?.['email']">*Email must be a valid email address.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="Phone number" maxlength="11" />
                      <!-- <label class="form-label" for="phone">Phone</label> -->
                      <div *ngIf="f['phone'].touched && f['phone'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['phone'].errors?.['required']">*Phone number is required.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="car" formControlName="car" class="form-control" placeholder="Car" />
                      <!-- <label class="form-label" for="car">Car</label> -->
                      <div *ngIf="f['car'].touched && f['car'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['car'].errors?.['required']">*Car is required.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="subject" formControlName="subject" class="form-control" placeholder="Subject" />
                      <div *ngIf="f['subject'].touched && f['subject'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['subject'].errors?.['required']">*Subject is required.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <select id="maintenance_center" formControlName="maintenance_center" class="form-control">
                        <option value="" selected disabled>Maintenance Center</option>

                        <option value="Maintenance Center New Qairo">Maintenance Center New Qairo</option>
                        <option value="Maintenance Center Geza">Maintenance Center Geza</option>
                        <option value="Maintenance Center Sharkia">Maintenance Center Sharkia</option>
                        <option value="Maintenance Center Elmady">Maintenance Center Aswan</option>
                        <option value="Maintenance Center Sohag">Maintenance Center Sohag</option>
                        <option value="Maintenance Center North Coast">Maintenance Center North Coast</option>
                        <option value="Maintenance Center Aswan">Maintenance Center Elmady</option>
                        <option value="Maintenance Center Ramsis">Maintenance Center Ramsis</option>
                        <option value="Maintenance Center Zamalek">Maintenance Center Zamalek</option>
                        <option value="Maintenance Center 6th October">Maintenance Center 6th October</option>
                        <option value="Maintenance Center Mansoura">Maintenance Center Mansoura</option>
                        <option value="Maintenance Center Assuit">Maintenance Center Assuit</option>
                        <option value="Maintenance Center ElMnofya">Maintenance Center ElMnofya</option>
                        <option value="Maintenance Center Alaoqsor">Maintenance Center Aloqser</option>
                      </select>
                      <div *ngIf="f['maintenance_center'].touched && f['maintenance_center'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['maintenance_center'].errors?.['required']">*Maintenance Center is required.</div>
                      </div>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="appointment">Appointment</label>
                      <input type="date" id="appointment" formControlName="appointment" class="form-control" placeholder="Appointment" />
                      <div *ngIf="f['appointment'].touched && f['appointment'].invalid" style="color:red;" class="msgerror">
                        <div *ngIf="f['appointment'].errors?.['required']">*Appointment is required.</div>
                        <div *ngIf="f['appointment'].errors?.['date']">*Appointment must be a valid date.</div>
                      </div>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="Submit">Submit</button>
                    </div>
  
                    <div *ngIf="msg" class="text-center">
                      <p>{{ msg }}</p>
                    </div>
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  